.breadcrumb {
    background-color: #b6000b;
}
.element-box.ele-overlay:before {
    background: #93dbd0!important;
}
.btn-style {
   background: linear-gradient(to right, #2c94ec, #304bb7);
}
.btn-style:hover {
    background: #b6000b;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #2d2a26;
}

.menu-side-w ul.main-menu>li>a {
    color: #2d2a26;
}
.menu-side-w ul.main-menu>li .icon-w {
    color: #2d2a26;
}
.element-box.ele-overlay h6 {
    color: #2d2a26;
}
.content-i {
    background: #d8d8d85c;
}
.btn-success {
    color: #fff;
    background-color: #799fc3;
    border-color: #799fc3;
}
.btn-success:hover {
    color: #fff;
    background-color: #5281af;
    border-color: #5281af;
}
.btn-danger {
    color: #fff;
    background-color: #c64b38;
    border-color: #c64b38;
}
body {
 color: #2d2a26;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover, .nav-tabs .nav-item:hover .nav-link {
    color: #54555a;
}
.label {
     color: #54555a;
}
.el-tablo .label {
    color: white;
}
.el-tablo {
        color: #2d2a26;
}
p {
    color: #54555a;
}
.icon-w i {
    font-size: 30px;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    background: #2c94ec!important;
}
/*.onloader {
    width: 100%;
    position: fixed;
    z-index: 999999;
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.main-sparkline13-hd {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.main-sparkline13-hd h1 {
    font-size: 20px;
}
.add-btn {
    padding: 5px 15px;
	background: #65b9ac;
    border: none;
}
.main-deleteline {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
button.btn.btn-primary.dlt-btn {
    padding: 0px 30px;
}
.table-bordered {
    border: 1px solid #dee2e6;
    margin-top: 16px;
}
.spaceprevent {
    background: #fafbff!important;
}
.multichoosenlist {
 background: #fafbff!important;
}
.btn-add-cls {
    margin-top: 10px;
}
.members select {
    padding: 7px 64px;
    border-radius: 5px;
}
.waves-light{
    background: #65b9ac;
    border: none;
}
.waves-light:hover{
    background: #65b9ac;
    border: none;
}
.dlt-btn {
    background: #65b9ac;
    border: none;
}
.dlt-btn:hover {
    background: #65b9ac;
    border: none;
}
.add-btn:hover {
    background: #65b9ac;
    border: none;
}
.btn-chng-1 {
    bottom: 18px;
}
.btn-info-chng{
left: 384px !important;
    top: 20px !important;
}
.btn-styl {
    font-size: 12px !important;
    padding: 7px 5px !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 2px !important;
}
