/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}
body {
 /*  background: url(../images/background.jpg); */
  
 font-family: montserrat, arial, verdana;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
	background:#cccccc;
	height:100%;
	    font-size: 1rem;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
	display:table;
}

.logo-w {
    margin: 15px;
}


/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/

#msform input:focus, #msform textarea:focus {
 
  
    outline-width: 0;
  
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #000;
    font-weight: bold;
    color: #ffffff;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
     padding: 6px 17px;
    margin: 10px 5px;
	z-index: 999999;
    position: absolute;
    float: right;
     border: 2px solid #fff;
    right: 0;
    bottom: 0;
}







/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 4px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
 
    float: left;
    position: relative;
    letter-spacing: 1px;
	width:20%;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #ffffff;
    background: #4781c2;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}
/*progressbar connectors*/


#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/



/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}
.header_form_s.in_form_container {
    background: #011c53;
    margin-bottom: 18px;
    padding: 4px 10px;
    float: left;
    width: 100%;
    background: linear-gradient(to right,#0687e7 1%,#2963ae 99%);
}
.header_form_s img {
    float: right;
}
.fs-title1 {
    font-size: 19px;
    color: #fff;
   
    margin: 0px;
    padding: 10px 0px;
    float: left;
}
/* #msform p {
    font-size: 14px;
    margin-bottom: 0;
} */

.input-content .row {
    align-items: center;
	margin:0;
}
label.label_input {
    float: left;
}
/* .footer_form {
    position: relative;
    background: red;
}
 */

.footer_form {
    position: absolute;
    background: red;
    /* height: 64px; */
    float: left;
    width: 100%;
    left: 0;
    bottom: -2px;
    padding-top: 105px;
   background: linear-gradient(to right,#0687e7 1%,#2963ae 99%);
	  /*   background: #93dbd0; */
}

#msform .action-button-previous {
    width: 100px;
    background: transparent;
    font-weight: bold;
    color: #fff;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 6px 5px;
    margin: 10px 5px;
    z-index: 999999;
    position: relative;
    float: right;
    border: 2px solid #fff;
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
}
.content-section {
    z-index: 999999;
    position: relative;
   /*  margin-bottom: 105px; */
}

#msform {
    text-align: center;
    margin-top: 30px;
    margin: auto;
    background: #fff;
    width: 100%;
    position: relative;
    z-index: 1;
}	
#msform input {
    padding: 6px;
    /* border: 1px solid #ccc; */
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
     font-family: montserrat, arial, verdana;
    color: #2C3E50;
    font-size: 13px;
       border-bottom: 1px solid #e6d9d9;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
  
    padding: 12px 30px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}
label.label_input {
    margin-bottom: 0;
    font-size: 13px;
    color: #334152;
    font-weight: 600;
}
.element-wrapper .element-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
}
#progressbar li.active:before, #progressbar li.active:after {

    z-index: -1;
	}
h5.element-header {
    text-align: left;
    font-size: 16px;
/*    font-weight: 600;*/
    
    /* color: #2d2a26; */
    color: #334152;
}

.input-content-text p {
    text-align: left;
    padding: 12px;
}
.input-content-text {
    text-align: left;
}
li ol > li:before {
    content: counters(item, ".") " ";
}


ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}
li ol > li:before {
    content: counters(item, ".") " ";
}
ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}
ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5;
    color: #03243c;
}	
.input-content-text h4	{
    text-align: center!important;
    font-weight: 700;
    /* color: #65b9ac; */
    color: #011c53;
}
.content_body {
    /* max-width: 600px; */
	    max-width: 550px;
    margin: auto;
    width: 100%;
    margin-top: 73px;
        height: 100vh;
    z-index: 0;
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 34px;
    
   
}
.input-content {
    border: 0;
    /* box-shadow: 0 0 10px 0px #0000004a; */
    margin: 40px;
    max-width: 100%;
    margin: auto;
    border-radius: 5px;
    /* padding: 9px; */
    min-height: 150px;
    animation: initial;
    align-items: center;
    padding: 0;
    position: relative;
    padding-bottom: 10px;
    padding-top: 26px;
}

.footer_form img {
    position: absolute;
    top: -31px;
    left: 0;
    width: 100%;
    z-index: 1;
}
/*  html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
 */
fieldset {
    left: 0!important;
}
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #4781c2;
    position: absolute;
    left: -50%;
    top: 11px;
    z-index: -1;
}
.fa-phone:before {
    content: "\f095";
    color: #2c3560;
}
#progressbar li.active:before, #progressbar li.active:after {
    background: #011c53;
    color: white;
}

.effect-2 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s;}
.effect-2:focus ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}
#msform {
    text-align: center;
    margin-top: 30px;
    margin: auto;
    background: #fff;
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px 3px #00000057;
	}
div#myBar {
    background: #e5405e;
    background: -moz-linear-gradient(left, #e5405e 0%, #ffdb3a 25%, #3fffa2 50%, #3fffa2 50%, #1a9be0 73%, #ba68ed 100%);
    background: -webkit-linear-gradient(left, #e5405e 0%, #ffdb3a 25%, #3fffa2 50%, #3fffa2 50%, #1a9be0 73%, #ba68ed 100%);
    background: linear-gradient(to right, #1459b4 0%, #3affbe 25%, #3fffa2 50%, #3fffa2 50%, #1a9be0 73%, #ba68ed 100%);
    height: 10px;
    border-radius: 8px;
}

div#ui-datepicker-div {
    box-shadow: 1px 3px 4px #ccc;
}
a.ui-state-default{
  text-align: center !important;
}
a.ui-state-default:hover {
    background: #006296;
    color: #fff;   
}
.ui-widget-header {
    border: 1px solid #fff;
    background: #ffffff;
    color: #fff !important;
    font-weight: bold;
}
div#ui-datepicker-div{
  width: 350px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #ffffff;
    background: #e1ecfb;
    font-weight: normal;
    color: #454545;
    padding: 8px;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 5px;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 5px;
    background: #e1edfb;
}
.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #006296;
}
a.ui-datepicker-next.ui-corner-all:hover, a.ui-datepicker-prev.ui-corner-all:hover {
    background: #e1edfb;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #006296;
    font-weight: normal;
    color: #ffffff;
}
.error {
    margin-bottom: 0;
    font-size: 11px;
    color: #e90e0e;
    font-weight: 600;
}
.intl-tel-input input.codenumber {
    padding-left: 40px !important;
}
@media (max-width: 370px){
  div#ui-datepicker-div {
    width: 94%;
  }
}


input.codename {
    width: 70% !important;
    float: left !important;
}

.intl-tel-input {
    float: left;
    width: 32%;
}
input#generate-otp {
    width: auto!important;
    color: #216cbd!important;
    border: 2px solid #216aba!important;
    position: relative!important;
}
.intl-tel-input .flag-dropdown .selected-flag {
   margin: 1px;
   padding: 11px 16px 6px 6px!important;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0)!important;

}



.radio_button h2 {
	color: #AAAAAA;
}

ul.radio_button {
  list-style: none;
  margin: 0;
  padding: 0;
	
}

.radio_button li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    height: AUTO;
    width: 50%;
}
.radio_button  li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.radio_button li label {
    display: block;
    position: ABSOLUTE;
    font-weight: 300;
    font-size: 1.35em;
    padding: 10PX;
    PADDING: 12PX 35PX;
    height: AUTO;
    z-index: 9;
    TOP: 0;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.radio_button  li:hover label{
	color: #0c1e79;
}
.radio_button li .check {
    display: block;
    position: absolute;
    border: 3px solid #AAAAAA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 5px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.radio_button  li:hover .check {
  border: 5px solid #0c1e79;
}

.radio_button li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: 1px;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.radio_button  input[type=radio]:checked ~ .check {
  border: 3px solid #0c1e79;
}

.radio_button  input[type=radio]:checked ~ .check::before{
  background: #0c1e79;
}

.radio_button  input[type=radio]:checked ~ label{
  color: #0c1e79;
}
.radio_button li:hover label {
    color: #0c1e79;
}
i.fas.fa-phone {
    margin-left: 32px;
}
ul.radio_button img {
    margin-left: 35px!important;
    /* float: left; */
}
.password span.fa.fa-fw.field-icon.toggle-password {
    position: absolute;
    right: 20px;
    top: 12px;
}
.col-sm-6.password {
    position: relative;
}
.footer_form img {
   
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
input#generate-otp {
   z-index: 0!important;
}
span.country-name {
   font-size: 12px;
}
span.dial-code {
   font-size: 12px;
}
.face {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    border: 3px solid #2e5ea5;
    border-radius: 50%;
}

.hand {
    height: 18px;
    width: 4px;
    background-color: #85d2de;
    position: absolute;
    border-radius: 20%;
    top: 20px;
    left: 20px;
    transform-origin: 50% 0%;
    animation: hourHand 3s linear infinite;
}

@keyframes hourHand {
  100% {
    transform: rotate(360deg);
  }
}
.ui-widget-header {
    border: 1px solid #dddddd;
    background: #1775cb!important;
    color: #ffffff;
    font-weight: bold;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
   border: 1px solid #0687e7!important;
    background: #1a72c6!important;
    font-weight: normal;
    color: #fff!important;
}
.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #616161!important;
}

ul.country-list::-webkit-scrollbar {
    width: 8px;
}

ul.country-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

ul.country-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
   /*  -webkit-box-shadow: inset 0 0 6px rgb(15, 125, 216);
    background:#107dd7;  */
	    background: #b8b8bb;
}

.col-sm-6.company-radio {
			text-align: left;
			}
			input#r1 {
			width: 50%;
			margin-top: 10px;
			}
			input#r2 {
			width: 50%;
			margin-top: 10px;
			}
			a.this-btn {
			font-size: 10px;
			color: #fff;
			background: #1d6fc1;
			padding: 6px 5px;
			border-radius: 10px;
			}
			.director-btn {
    padding: 0px 10px;
    display: table;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    padding: 5px;
    font-size: 13px;
   /*  background: #0687e7; */
  
	    margin-top: 20px;

}
span.director-name {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -10px;
}
.new-box input[type="radio"]:checked + label span {
      color: #ffffff;
    /* background: #65b9ac; */
	background-image: linear-gradient(to right, #2c94ec, #304bb7);
}

.new-box input[type="radio"] + label span {
    display: inline-block;
    width: 100%;
    /* height: 60px; */
    /* padding: 7px; */
    box-shadow: inset 1px 1px 1px 1px #ABABAB;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.new-box input[type="radio"] {
    display: none;
}

.new-box input[type="radio"] + label {
    color: #011c53;
    font-size: 16px;
	    width: 49%;
}


.new-box input[type="radio"] + label span {
    background-color: #E5E7E9;
}
.col-sm-12.new-box {
    display: flex;
    justify-content: space-between;
	    margin-top: 10px;
}
.new-box input[type="checkbox"]:checked + label span {
      color: #ffffff;
    /* background: #65b9ac; */
	background-image: linear-gradient(to right, #2c94ec, #304bb7);
}

.new-box input[type="checkbox"] + label span {
    display: inline-block;
    width: 100%;
    /* height: 60px; */
    /* padding: 7px; */
    box-shadow: inset 1px 1px 1px 1px #ABABAB;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.new-box input[type="checkbox"] {
    display: none;
}

.new-box input[type="checkbox"] + label {
    color: #011c53;
    font-size: 16px;
	    width: 49%;
}


.new-box input[type="checkbox"] + label span {
    background-color: #E5E7E9;
}
#msform .action-button.new-accept {
    width: 156px;
}
@media (max-width:767px){
	.content_body {
    margin-top: 10px;
}
.input-content {
    padding-top: 5px;
}
.btn-space {
    margin-top: 10px;
    margin-bottom: 5px;
}
.content-section {
    margin-bottom: 95px;
}
.new-btn-design {
	width: 100%!important;
}
}
@media (max-width:576px){
	.footer_form img {
    display: none;
}
.footer_form {
    padding-top: 100px;
}
}
