/*.button-lg {
    width: 100%;
    height: 60px;
    border-radius: 50px;
    position: relative;
    z-index: 3;
     background: linear-gradient(to right,#0687e7 1%,#2963ae 99%); 
       background: linear-gradient(to right,#93dbd0 1%,#95dcd1d9 75%, #98dcd296);
    cursor: pointer;
}*/
.button-lg {
    width: 100%;
    height: 30px;
    cursor: pointer;
}
small.verification-otp1.bold {
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 13px;
}
button.copy {
    font-size: 10px;
    color: #000;
    border: 1px solid #a37e5f;
    padding: 5px 27px;
    border-radius: 16px;
    background: transparent;
    position: relative;
    top: -2px;
    cursor: pointer;
}
.btn-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    /* border: 1px solid; */
    border-radius: 50%;
    left: 5px;
    top: 4px;
    /* bottom: 5px; */
    background: white;
    box-shadow: inset 0 0 2px 2px #bfbfbf;
}
.circle-img-area {
    max-width: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.circle-img-area img {
    max-width: 100%;
    filter: grayscale(1);
}
.btn-name {
    text-align: justify;
    color: #343534;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    position: relative;
    left: 40%;
    word-spacing: 2px;
}
input#btncnt {
    border: 1px solid #9b6f52 !important;
    width: 139px !important ;
    margin-top: 30px;
}
.minor-account {
    padding-top: 10px;
    margin: auto;
}
.selectoption {
    width: 100%;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 9px 2px;
    outline: none;
}
.option-add {
    width: 100%;
}
.mobile_number.first-mobile {
    display: flex;
}
.country-set {
    position: relative;
    top: 15px;
}
.element-wrapper {
    width: 100%;
}
.attach-btn:after {
    position: absolute;
    content: "Attach Copy of ID";
    /* background: #1d6ec0; */
	background:linear-gradient(to right, #b39d79, #9b6f52);
    width: 100%;
    height: 32px;
  color: #fff;
	    
    font-weight: 400;
    text-align: center;
    left: 0px;
    padding-top: 5px;
    border-radius: 4px;
}
.attach-btn2:after {
    position: absolute;
    content: "Attach copy of statement";
   color: #fff;
    background: linear-gradient(to right, #9b6f52, #b39d79);
    width: 100%;
    height: 32px;
    
    font-weight: 400;
    text-align: center;
    left: 0px;
    padding-top: 5px;
    border-radius: 4px;
}
select#src_of_fund11 {
    width: 50%;
    float: left;
}

a.aml-link {
    text-align: right;
    font-size: 12px;
	color: #2d2a26;
    font-weight: 500;
}
.add-another {
    margin-top: 20px;
}
.add-another a {
    background: linear-gradient(to right, #b39d79, #9b6f52) !important;
    padding: 7px 14px;
    border-radius: 4px;
    color: #fff!important;
}

.details-pos {
    position: relative;
    top: 7px;
}
.detail-2 {
    position: relative;
    top: -8px;
}
ul.country-list {
    text-align: left;
}
.col-sm-7.mobile_number {
    display: flex;
}
.veri-detail {
    padding-left: 54%!important;
}
.mobile-index2 {
    z-index: 7;
}

.mobile-index1 {
    z-index: 1;
}
.verification-otp {
    display: block;
    margin-top: 10px;
    padding: 0 15px;
}
.col-sm-129 {
    width: 200px;
    position: relative;
    margin: auto;
}

.attach-btn2 {
    border-bottom: none!important;
	cursor: pointer;
	font-size: 14px!important;
}
.attach-btn {
    border-bottom: none!important;
	cursor: pointer;
}
.col-sm-12.otp-icon {
    max-width: 220px;
    margin: auto;
}
.row.otp-area {
    margin-top: 10px;
    margin-bottom: 15px;
}
.codename {
    padding-left: 0!important;
}
input#countryname1 {
    width: 100%
}
input#countryname {
    width: 100%
}
	.col-sm-6.flag-drop .intl-tel-input {
    float: left;
    width: 100%;
}
.col-sm-6.flag-drop .intl-tel-input .flag-dropdown {
    position: absolute;
    z-index: 6;
    cursor: pointer;
    width: 100%;
}
.intl-tel-input .flag-dropdown .selected-flag {
    margin: 1px;
    padding: 10px 16px 6px 6px;
    height: 37px;
}
.aml-text {
   margin-top: 15px;
    font-size: 16px!important;
    font-weight: 400;
}


/* ------------------------------select bank--------------------------- */
.selectbox ul {
    height: auto;
    width: 100%;
    padding: 0;
    user-select: none;
	border-radius: 0;
	border:none;
    border-bottom: 1px solid #e6d9d9;
}
.selectbox ul li { padding: 5px 10px; z-index: 2; font-size: 13px; text-align: left;}
.selectbox ul li:not(.init) { float: left; width: 100%; display: none; background: #f2f4f8; }
.selectbox ul li:not(.init):hover, ul li.selected:not(.init) { background: #09f;color:#fff}

.bank_icon {
  /*   width: 50px; */
	width: 35px;
    display: inline-block;
    margin-right: 10px;
}
.bank_icon img {
 /*  max-width: 45px;
    max-height: 31px; */
	    max-width: 35px;
    height: auto;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.selectbox li.init {
    cursor: pointer;
    
}

button.director-btn.postal-address {
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.privous-signup {
    font-size: 13px;
}
a.this-btn {
    font-size: 10px;
	 color:  #2d2a26;
    padding: 6px 5px;
    border-radius: 10px;
    font-weight: 400;
	background: none;
}
a.this-btn.check-this-btn {
    font-size: 10px;
    color: #fff;
    background: #0687e7;
    padding: 3px 11px;
    border-radius: 16px;
}
select#src_of_fund4 {
    width: 25%;
    float: left;
}
.down-arrow.down-arrow-new {
    position: relative;
    top: 4px!important;
    left: 103%!important;
}
small.verification-otp1 {
    position: relative;
    top: -17px;
    text-align: left;
    margin-top: 12px;
}
.col-sm-6.trust-signup .chosen-container.chosen-container-multi {
    width: 100%!important;
    border-bottom: 1px solid #ced4da;
}
.col-sm-6.trust-signup .chosen-container-multi .chosen-choices{
	    overflow: initial;
		border:none;
}
.col-sm-6.trust-signup .chosen-container-multi .chosen-choices li.search-choice {
    margin: 3px 1px 0px 0px;
}
.col-sm-6.trust-signup .chosen-container .chosen-drop {
   
    border: none;
    border-radius: 4px;
}
a {
    color: #2d2a26;
}
a:hover {
    color: #2d2a26;
    text-decoration: none;
}
span.enter-btns{
   /*  height: 60px; */
    /* padding: 18px!important; */
}
.all-btn-color{
	    color: #fff;
    padding: 7px 14px;
	    font-size: 14px;
    font-weight: 400;
}
.all-btn-color:hover {
    color: #fff;
}
small.verification-otp a {
    font-weight: 500;
    color: #2d2a26;
}
input.attach-btn {
    font-size: 14px!important;
}
.upper-btn {
    font-size: 13px;
    font-weight: 400;
}
.police-text {
    margin-top: 10px;
}

/* start new joint */
.save-new-btn {
    position: absolute;
    right: 40px;
    top: 10px;
    display: flex;
    align-items: center;
}
span.info-icon {
    margin-top: 18px;
    margin-left: 10px;
    cursor: pointer;
}
.save-font {
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
}
/* end start new joint */
.new-attach-info .info-icon {
    left: 115px;
    position: relative;
    top: -44px;
}
.checkbox-check {
   max-width: 26px;
   float: left;
   margin-top: 3px;
}
.condition-details {
   padding-top: 20px;
}
h5.element-header3 {
    color: #334152;
    font-size: 18px;
    max-width: 522px;
    text-align: left;
}
.enter-btn-small {
    font-size: 14px;
    height: 53px!important;
}
.small-padd
{
	    padding: 16px 2px!important;
}
h5.element-header4 {
    color: #334152;
    font-size: 16px;
    font-weight: 400;
    max-width: 440px;
    text-align: left;
    /*padding-left: 15px;*/
}
.new-mint {
    width: 165px!important;
}
h5.element-header4 ul {
    padding: 0px 8px;
    margin-top: 15px;
}

h5.element-header4 ul li {
    margin: 10px;
}

@media (max-width: 378px){
.enter-btn-small {
   font-size: 14px;
   height: 70px!important;
}
}
.condition-details label.label_input {
   width: 87%;
}
.checkbox-check {
  max-width: 13px;
  margin-right:10px;
}
@media (max-width: 500px){
h5.element-header4 {
    color: #334152;
    font-size: 16px;
    font-weight: 500;
    max-width: 340px;
    margin: 15px auto;
}
h5.element-header3 {
    color: #334152;
    font-size: 16px;
    font-weight: 500;
    max-width: 340px;
    margin: 15px auto;
}
}
@media (max-width: 375px){
h5.element-header4 {
    color: #334152;
    font-size: 16px;
    font-weight: 500;
    max-width: 250px;
    margin: 15px auto;
}
h5.element-header3 {
    color: #334152;
    font-size: 16px;
    font-weight: 500;
    max-width: 250px;
    margin: 15px auto;
}
.new-mint {
    font-size: 10px !important;
    width: 120px !important;
}

}
        .link-button {
   font-size: 13px;
}
.circler {
    position: absolute !important;
    left: 194px !important;
    top: 5px !important;
}
.pulsating-circle4 {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 11px;
    left: 94px;
}
.btn-chng-3 {
    position: absolute;
    left: 120px;
}
.pulsating-circle4:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #9b6f52;
    /*-webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;*/
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.pulsating-circle4:after {
    content: '';
    position: relative;
    left: 0;
    top: -20px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #9b6f52;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    /*-webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;*/
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}
@-webkit-keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulse-dot {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes pulse-dot {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
.pulsating-circle5 {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 10px;
    left: 0px;
    top: 5px;
}
.pulsating-circle5:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #0687e7;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.pulsating-circle5:after {
    content: '';
    position: relative;
    left: 0;
    top: -20px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0687e7;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}
.pulsating-circle6 {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 10px;
    left: 385px;
    top: 20px;
}
.pulsating-circle6:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #a48060;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.pulsating-circle6:after {
    content: '';
    position: relative;
    left: 0;
    top: -20px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #a48060;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}
.link-button {
    padding: 6px 4px !important;
}
.btn-chng-1 {
    bottom: 18px;
}

.btn-info-chng{
left: 384px !important;
    top: 20px !important;
}
.validation-error {
    text-align: right;
}
.pulsating-around4 .tooltiptext {
    visibility: hidden;
    width: 400px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    z-index: 1;
    top: -3px;
    left: -5px;
    margin-left: 30px;
    background: #f8f8f8;
    box-shadow: 0px 0px 2px 2px #0687e7;
    font-size: 13px;
        font-weight: normal;
}
.pulsating-around4 .tooltiptext:after {
    content: "";
    position: absolute;
    top: 4%;
    right: 100%;
    margin-top: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #0687e7 transparent transparent;
}
.pulsating-around4:hover .tooltiptext {
    visibility: visible;
}
.pulsating-around5 .tooltiptext {
    visibility: hidden;
    width: 400px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    z-index: 1;
    top: -74px;
    left: -5px;
    margin-left: 30px;
    background: #f8f8f8;
    box-shadow: 0px 0px 2px 2px #304eb9;
    font-size: 13px;
        font-weight: normal;
}
.pulsating-around5 .tooltiptext:after {
    content: "";
    position: absolute;
    top: 32%;
    right: 100%;
    margin-top: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #304eb9 transparent transparent;
}
.pulsating-around5:hover .tooltiptext {
    visibility: visible;
}
.pulsating-around6 .tooltiptext {
    visibility: hidden;
    width: 300px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    z-index: 999999999;
    top: 33px;
    right: -12px;
    margin-left: 30px;
    background: #f8f8f8;
    box-shadow: 0px 0px 2px 2px #9b6f52;
    font-size: 13px;
    font-weight: normal;
}
.pulsating-around6 .tooltiptext:after {
    content: "";
    position: absolute;
    bottom: 102%;
    left: 94%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #9b6f52 transparent;
}
 
.pulsating-around6:hover .tooltiptext {
    visibility: visible;
}
.error-grey{
    color:gray;
    font-size: 10px;
}
.loged_user {
    position: absolute;
    top: 18px;
    right: 38px;
	  font-size: 20px;
              z-index: 1;
}

.loged_user a {
    color: #b6000b;
    font-size: 23px;
}
.listed-issure {
    position: absolute;
    left: 225px !important;
}

@media (max-width: 576px){
.new-box input[type="radio"] + label {
    
    width: 100%;
}
.pulsating-circle4 {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 11px;
    left: 192px;
}
#msform fieldset {
    padding: 12px 10px;
}
.save-new-btn {
    position: relative;
    right: 40px;
    top: -15px;
    display: flex;
    align-items: center;
    max-width: 200px;
    margin: auto;
}
.terms_cond::-webkit-scrollbar {
    width: 5px;
}
.small-padd1
{
	    padding: 16px 2px!important;
}
.col-sm-12.new-box {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column;
}

}
.trust-info-2 {
    position: absolute;
    LEFT: 183PX;
}
.trust-info {
    position: absolute;
    left: 530px;
}
span.tooltiptext.tool-ad{
    visibility: hidden;
    width: 400px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    z-index: 1;
    top: 23px;
    left: -48px;
    margin-left: 30px;
    background: #f8f8f8;
    box-shadow: 0px 0px 2px 2px #0687e7;
    font-size: 13px;
    font-weight: normal;
}
.pulsating-around4 .tool-ad.tooltiptext:after {
    content: "";
    position: absolute;
    top: 6%;
    right: 93%;
    margin-top: -24px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #0687e7 transparent;
}
span.tooltiptext.tool-ad-2{
    visibility: hidden;
    width: 400px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    z-index: 1;
    top: 23px;
    left: -410px;
    margin-left: 30px;
    background: #f8f8f8;
    box-shadow: 0px 0px 2px 2px #0687e7;
    font-size: 13px;
    font-weight: normal;
}
.pulsating-around4 .tool-ad-2.tooltiptext:after {
    content: "";
    position: absolute;
    top: 7px;
    right: 1%;
    margin-top: -24px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #0687e7 transparent;
}
.ird-minor {
    position: absolute;
    left: 108px;
}
.pulsating-around6 .minor-tooltip {
    visibility: hidden;
    width: 300px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    z-index: 999999999;
    top: 25px;
    right: -274px;
    margin-left: 30px;
    background: #f8f8f8;
    box-shadow: 0px 0px 2px 2px #b6000b;
    font-size: 13px;
    font-weight: normal;
}
.pulsating-around6 .minor-tooltip:after {
    content: "";
    position: absolute;
    bottom: 102%;
    left: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #b6000b transparent;
}
.pulsating-around6 .minor-tooltip {
    visibility: hidden;
    width: 300px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    z-index: 999999999;
    top: 25px;
    right: -274px;
    margin-left: 30px;
    background: #f8f8f8;
    box-shadow: 0px 0px 2px 2px #0687e7;
    font-size: 13px;
    font-weight: normal;
}
.pulsating-around6 .minor-tooltip:after {
    content: "";
    position: absolute;
    bottom: 102%;
    left: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #0687e7 transparent;
}
.pulsating-around6 .minor-tooltip-2 {
    visibility: hidden;
    width: 300px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    z-index: 999999999;
    top: 24px;
    left: -46px;
    margin-left: 30px;
    background: #f8f8f8;
    box-shadow: 0px 0px 2px 2px #0687e7;
    font-size: 13px;
    font-weight: normal;
}
.pulsating-around6 .minor-tooltip-2:after {
    content: "";
    position: absolute;
    bottom: 102%;
    left: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #0687e7 transparent;
}
.add-cntnt:after {
    content: "Attach birth certificate copy"!important;
    width: 106%;
}
button#same-as-investor1 {
    margin: auto;
}
i.removefile {
    PADDING: 2PX 10PX;
    FONT-SIZE: 14PX;
}
.pulsating-around6 .tooltip-1 {
    visibility: hidden;
    width: 300px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    z-index: 999999999;
    top: 30px;
    left: -161px;
    margin-left: 30px;
    background: #f8f8f8;
    box-shadow: 0px 0px 2px 2px #0687e7;
    font-size: 13px;
    font-weight: normal;
}
.pulsating-around6 .tooltip-1:after {
    content: "";
    position: absolute;
    bottom: 102%;
    left: 135px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #0687e7 transparent;
}
.joint-circler {
    position: absolute !important;
    left: 255px !important;
    top: 23px !important;
}
.pulsating-around6 .joint-tooltip {
    visibility: hidden;
    width: 446px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 6px;
    position: absolute;
    z-index: 999999999;
    top: -231px;
    left: -190px;
    margin-left: 30px;
    background: #f8f8f8;
    box-shadow: 0px 0px 2px 2px #0687e7;
    font-size: 13px;
    font-weight: normal;
}
.pulsating-around6 .joint-tooltip:after {
    /* content: ""; */
    position: absolute;
    bottom: -5%;
    left: 164px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0687e7 transparent transparent transparent;
}
.signup-btn-west p {
    background: linear-gradient(to right, #9b6f52, #b39d79);
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px;
    overflow: hidden;
    font-size: 14px;
    border: 1px solid #9b6f52;
}

.signup-btn-west a {color: #fff;font-size: 14px;}
.jont-mob {
    width: 80px!important;
}
.adjust-option {
    width: 70px!important;
}
.btn-chng-2 {
    left: 194px;
}
.row.advisor-show {
    width: 100%;
}
@media (max-width: 576px){
.adjust-option {
    width: 100%!important;
}
}