.el-tablo .label {
    font-size: .8rem;
}
.element-box.el-tablo {
    text-align: center;
}
.el-tablo .label {
    text-align: center;
    margin: 1px 0 0;
}
.box-style, .user-profile, .element-box, .invoice-w, .big-error-w, .activity-boxes-w .activity-box, .projects-list .project-box {
   
    background-color: #d5f3ee;
}
.value {
    background: white;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    padding: 20px;
    margin-top: -20px;
    box-shadow: 0px 0px 10px 0px #0000001a;
}
.element-box.el-tablo {
    padding: 13px;
    border-radius: 25px;
    margin-top: 20px;
}
.el-tablo .label {
    font-size: 14px;
    margin-bottom: 12px;
}
.el-tablo .label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 32px;
    font-size: 14px;
    text-transform: uppercase;
}
.el-tablo .value {
    font-size: 21px;
}

.color-gnz tr:nth-child(even) {
    background: #e5faf7;
}
table.color-gnz {
    background-color: white;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    background: #93dbd0!important;
}
.table-bordered th, .table-bordered td {
    border: 2px solid rgb(255, 255, 255);
}
table {
    border-radius: 10px;
    overflow: hidden;
}
.th-inner span {
    font-size: 11px;
}
.content-i {
    background: #f5f9f8 !important;
}
.mint-Diversified {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 25px;
    background: #93dbd0 !important;
}
.mint-Diversified p {
    color: white;
}
.mint-Diversified span {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}
.mint-Diversified h5 {
    font-size: 18px;
}