h6.hearder-int {
    text-transform: uppercase;
    padding: 10px 0px;
    font-size: 14px;
}
.das-board {
    padding: 10px;
    background: white !important;
    /*box-shadow: 0px 0px 10px 2px #ccc;*/
    border-radius: 4px;
}
.element-box.ele-overlay:before {
    background: white !important;
}
.box-style, .user-profile, .element-box, .invoice-w, .big-error-w, .activity-boxes-w .activity-box, .projects-list .project-box {
    border-radius: 4px;
/*    background-color: #fff;*/
    -webkit-box-shadow: none;
     box-shadow:none; 
}
.show_btn.lable a {
    border-radius: 50px;
    width: 100%;
    max-width: 80%;
    padding: 10px 10px;
    background: #fff !important;
    color: black;
    font-weight: 500;
}
.show_btn.lable {
    margin-top: 21px;
}
.clr-cng.admin-show {
    height: 111px;
}
.element-box.el-tablo.centered.trend-in-corner.smaller .value {
    color: black !important;
    font-size: 24px !important;
    position: relative;
    bottom: 57px;
    background: white;
    padding: 16px 0px;
    box-shadow: 0px 0px 10px 0px #0000001a;
    border-radius: 20px;
        width: 100%;
        
}
.el-tablo.smaller .label {
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 1px !important;
    text-align: center;
    text-transform: unset;
    color: #fff;
    font-weight: 400;
    background: linear-gradient(to right, #2c94ec, #304bb7);
    height: 100px;
    border-radius: 18px;
    padding-top: 12px;
}
.das-board .el-tablo.trend-in-corner {
    position: relative;
    min-height: 120px !important;
    max-height: 120px !important;
} 
.add-cls-box {
    padding: 0;
}
.with-side-panel .content-i {
    display: table;
    width: 100%;
    table-layout: fixed;
    background: #f5f9f8;
}
/*rect.highcharts-point.highcharts-color-0 {
    stroke: green;
    stroke-width: 0px;
    width: 10px;
}*/
/*rect.highcharts-point.highcharts-color-1 {
    width: 10px;
}*/
/*rect.highcharts-point.highcharts-color-2 {
    width: 10px;
}*/
.add-link {
    padding: 0.7em .6em;
/*    background: linear-gradient(to right, rgb(159, 215, 200), rgb(142, 240, 193));*/
    width: 137%;
    color: white !important;
        background-image: linear-gradient(to right, #93dbd0 , #42fff1);
}

.max-box {
    max-height: 100%;
    height: 500px;
    padding-top: 0;
}
.nav-link {
    display: block;
    padding: 10px 5px;
    font-weight: 600;
    font-size: 14px;
    color: black;
        text-transform: uppercase;
}
.value.sumWalletBalance{
   float: left !important;
}
.wlcm-heading {
    font-size: 16px;
    font-weight: 600;
    color: black;
}
a.nav-link:hover {
    color: black;
}
.custom-add-box {
    float: left;
    border-right: 1px solid #ccc;
    max-width: 100%;
    padding-right: 20px;
}
.custom-add-box-1 {
    max-width: 100%;
    float: left;
    padding-left: 20px;
}
.add-label {
    margin-top: 0;
}
/*.clr-add {
    color: #85ff3a;
}*/
.start-amnt {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.add-value{
       font-size: 20px !important;
}
a.nav-link.add-link.active {
    background: white;
    color: black !important;
}
.main-part-font {
    font-size: 10px;
    padding: 12px 6px !important;
}
.new-smaller {
    padding: 0 !important;
    overflow: hidden;
}
.top-holdings {
    background: white;
    padding: 10px;
}
.first-holding {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0px 15px;
}
.hlodings-box h6 {
    margin-bottom: 10px;
}
#countryhighchart {
    height: 230px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}
/*g.highcharts-legend {
    display: none;
}
path.highcharts-button-symbol {
    display: none;
}
text.highcharts-credits {
    display: none;
}*/
.with-side-panel .content-box {
    background: #f4f3f0;
}
/*.advisor-pie-data.owl_add {
    margin-top: 20px;
}*/
.showmemore:hover, .showmemore:focus {
    color: #000!important;
}
.label.font-capital {
    text-transform: initial;
}