* {
	padding: 0;
	margin: 0;
}

body {
    background: rgba(202, 179, 143, 0.1);
    font-family: benton-sans, sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: minion-pro, serif;
	font-weight: 400;
	letter-spacing: 0.2px;
}
.all-page-heading-text {
    margin-bottom: 15px;
    font-weight: 600;
}
.data-body h4 {
    font-family: benton-sans, sans-serif;
    font-weight: 600;
}
.content-body-page {
	box-shadow: 0 0 10px #ccc;
	margin: 10px;
	border-radius: 4px;
	position: relative;
}

.admin-name-sec {
	text-align: center;
	border-bottom: 1px solid rgba(202, 179, 143, 0.2);
}


/*.admin-name-sec h6 {
    margin-bottom: 3px;
}*/

.admin-name-sec p {
	margin-bottom: 10px;
}

.nav-bar ul li {
    list-style: none;
    padding: 18px 5px;
    border-bottom: 1px solid rgba(202, 179, 143, 0.2);
}
.nav-bar {
    margin: 15px;
}
.nav-bar ul li a {
	color: rgba(40, 40, 41, 1);
}

.nav-bar ul li a:hover {
	text-decoration: none;
}

.nav-bar ul li a i {
	color: #b4c9d0;
	margin-right: 5px;
	font-size: 17px;
}

.side-bar-section .nav-bar ul {
	height: 100vh;
	overflow-x: auto;
}

.logo-section {
	max-width: 100px;
	width: 100px;
	margin: 35px auto;
}

.logo-section img {
	max-width: 100%;
}

.mobile-logo-section {
	display: none;
}

.side-bar-section {
	background: #fff;
	box-shadow: 0 0 10px #ccc;
	max-width: 100%;
	position: fixed;
	float: left;
	/*width: 19%;*/
	height: 97vh;
	width: calc(19% - 4px);
	overflow: hidden;
}

.right-body-section {
	width: 81%;
	top: 0;
	right: 0;
	position: absolute;
}

.upper-box {
	background: rgba(150, 106, 77, 1);
	height: 40px;
	position: sticky;
	top: 10px;
	z-index: 1;
}

.upper-box:before {
	height: 10px;
	position: absolute;
	top: -10px;
	background: rgb(243, 241, 238);
	content: "";
	display: block;
	width: 100%;
}

.box-body {
    margin: 30px 40px;
    margin-top: 60px;
}

h6.heading-color a {
    color: rgb(255, 255, 255);
    font-size: 24px;
}

h6.heading-color {
    /* border-bottom: 3px solid rgba(150, 106, 77, 1); */
    padding: 25px;
    margin-bottom: 0;
}

.data-body {
    border-bottom: 1px solid rgba(202, 179, 143, 0.2);
    padding: 10px 30px;
}
.data-box {
	background: #fff;
	border-radius: 7px;
	text-align: center;
	/*padding: 20px;*/
	/*max-width: 230px;*/
	margin: auto;
	margin-bottom: 10px;
	overflow: hidden;
	box-shadow: 0 0 10px #ccc;
}
.data-heading {
    background: #b4c9d0;
}
.data-body:nth-last-child(1) {
	border: none;
}

.all-page-heading-text {
	margin-bottom: 15px;
}


/*
.myaccordion {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}*/

.myaccordion .card,
.myaccordion .card:last-child .card-header {
	border: none;
}

.myaccordion .card-header {
	border-bottom-color: #EDEFF0;
	background: transparent;
}

.myaccordion .fa-stack {
	font-size: 18px;
}

.myaccordion .btn {
	width: 100%;
	color: rgba(40, 40, 41, 1);
	padding: 0px;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
	text-decoration: none;
}

.accordion-box .card-header {
	padding: 8px 13px;
	position: relative;
}

.accordion-box .card {
	margin-bottom: 10px;
	border-radius: 10px;
}

.accordion-box .myaccordion .fa-stack {
	font-size: 18px;
	background: rgb(150, 106, 77);
	position: absolute;
	right: 0px;
	top: 0;
	height: 42px;
	border-radius: 10px;
	width: 60px;
}

.accordion-box span.fa-stack i {
	color: rgba(40, 40, 41, 1);
}

.accordion-box button:focus {
	box-shadow: none;
}

.accordion-table td a {
	color: rgb(150, 106, 77);
	font-size: 18px;
}

.accordion-table th {
	font-weight: 500;
	/* font-size: 14px; */
}

.accordion-table {
	font-size: 14px;
}

.accordion-table tbody tr:nth-of-type(odd) {
	background-color: rgba(202, 179, 143, 0.05)!important;
}

.table-header-color {
	background: rgba(150, 106, 77, 1);
	color: rgba(40, 40, 41, 1);
}

.page-item.active .page-link {
	color: rgba(40, 40, 41, 1);
	background-color: #966a4d;
	border-color: #966a4d;
}

table.dataTable {
	border-collapse: collapse!important;
}


/* width */

::-webkit-scrollbar {
	width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
	background: rgba(202, 179, 143, 1);
	border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: rgba(150, 106, 77, 1);
}

.white-background {
	background: #fff;
	padding: 10px 20px;
	border-radius: 5px;
}

p.detail-anchor a {
	display: table;
	line-height: 1.3;
	color: rgb(150, 106, 77);
	text-decoration: underline;
}

.application-data-space p {
	margin-bottom: 7px;
}

.btn-size {
	padding: 1px 10px;
	float: right;
}

.btn-size.btn-coffe {
	background: rgb(150, 106, 77);
	border: 1px solid rgb(150, 106, 77);
}

span.persons-detail {
	text-decoration: underline;
	cursor: pointer;
	color: #966a4d;
}

.benieficary-data-detail p {
	margin-bottom: 2px;
}

@media (max-width: 767px) {
	.box-body {
    margin: 30px 0px;
    margin-top: 60px;
}
	.side-bar-section {
		background: #fff;
		box-shadow: 0 0 10px #ccc;
		max-width: 100%;
		position: relative;
		float: unset;
		width: 100%;
		z-index: 1;
		height: auto;
	}
	.admin-name-sec {
		margin-top: 10px;
	}
	.upper-box {
		position: initial;
	}
	.nav-bar {
		display: none;
	}
	.right-body-section {
		width: 100%;
	}
	.mobile-logo-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 18px;
		background: rgba(150, 106, 77, 1);
		box-shadow: 0 0 10px #ccc;
	}
	.mobile-logo-section img {
		max-width: 28px;
	}
	.mobile-logo-section i {
		font-size: 22px;
		color: rgba(40, 40, 41, 1);
		cursor: pointer;
	}
	.logo-section {
		display: none;
	}
}